[Desktop Entry]
Name=Xmbdfed
Comment=Motif-based BDF, Linux console (PSF, CP, and FNT) font editor
Comment[pl]=Edytor fontów BDF i konsoli Linuksa (PSF, CP, i FNT)
Icon=xmbdfed.png
Exec=xmbdfed
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Motif;Development;
# vi: encoding=utf-8
