[Desktop Entry]
Name=Xmbdfed
Comment=Motif-based BDF, Linux console (PSF, CP, and FNT) font editor
Comment[pl]=Edytor fontów bBDF i Linuxowej konsoli (PSF, CP, i FNT)
Exec=xmbdfed
Terminal=0
Type=Application
# vi: encoding=utf-8
